<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <%= link_to "SMS STATS", '#', id: "logo" %>
	      <nav>
	        <ul class="nav pull-right">
	          <li><%= link_to "Home",			 home_path %></li>
	          <li><%= link_to "Last 25",   		 last25_path %></li>
	          <li><%= link_to "Detailed Report", detailedsms_path %></li>
	          <li><%= link_to "Monthly Report",  monthlysms_path %></li>
	          <li><%= link_to "Daily Report",    dailysms_path %></li>
	        </ul>
	      </nav>
	    </div>
	  </div>
	</header>